@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Spartan', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#o-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #231f20;
    max-width: inherit;
}

#o-header a {
    text-decoration: none;
    font-family: 'Spartan', sans-serif;
}

.sell-button {
    padding: 10px;
    transition: 0.4s;
}

.sell-button:hover {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
}

.sell-button h2 {
    color: white;
    font-size: 30px;
}


@media (max-width:470px) {

    body {
        max-width: inherit;
    }

    #header {
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        align-items: center;
        justify-content: left;
        height: fit-content;

    }
}

.bod {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d1e1de;
}

::selection {
    color: rgb(18, 17, 17);
    background: #399880;
}

.wrapper {
    width: 380px;
    padding: 40px 30px 50px 30px;
    background: rgb(151, 199, 198);
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.wrapper header {
    font-size: 35px;
    font-weight: 600;
}

.wrapper form {
    margin: 40px 0;
}

form .field {
    width: 100%;
    margin-bottom: 20px;
}

form .field.shake {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {

    0%,
    100% {
        margin-left: 0px;
    }

    20%,
    80% {
        margin-left: -12px;
    }

    40%,
    60% {
        margin-left: 12px;
    }
}

form .field .input-area {
    height: 50px;
    width: 100%;
    position: relative;
}

form input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 45px;
    font-size: 18px;
    background: none;
    caret-color: #090a0c;
    border-radius: 5px;
    border: 1px solid #060505;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
}

form .field input:focus,
form .field.valid input {
    border-color: #000000;
}

form .field.shake input,
form .field.error input {
    border-color: #dc3545;
}

.field .input-area i {
    position: absolute;
    top: 50%;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50%);
}

.input-area .icon {
    left: 15px;
    color: #100f0f;
    transition: color 0.2s ease;
}

.input-area .error-icon {
    right: 15px;
    color: #dc3545;
}

form input:focus~.icon,
form .field.valid .icon {
    color: #070809;
}

form .field.shake input:focus~.icon,
form .field.error input:focus~.icon {
    color: #090808;
}

form input::placeholder {
    color: #000000;
    font-size: 17px;
}

form .field .error-txt {
    color: #dc3545;
    text-align: left;
    margin-top: 5px;
}

form .field .error {
    display: none;
}

form .field.shake .error,
form .field.error .error {
    display: block;
}

form .pass-txt {
    text-align: left;
    margin-top: -10px;
}

.wrapper a {
    color: #100e0e;
    text-decoration: none;
}

.wrapper a:hover {
    text-decoration: underline;
}

form input[type="submit"] {
    height: 50px;
    margin-top: 30px;
    color: #fff;
    padding: 0;
    border: none;
    background: #000000;
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    background: #252527;
}